body{
    background-image: url('image/background.png');
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.slider{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}


.item{
    position: absolute;
    width: 300px;
    height: 400px;
    text-align: justify;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    transition: 0.5s;
    left: calc(50% - 180px);
    top: 0;
}
.vocab{
    font-size: 30px;
}
.list{
    font-size: 20px;
}
#next, #prev{
    position: absolute;
    top: 92%;
    background-color: transparent;
    font-size: 35px;
    color: #fff;
    background-color: #e74c3c;
    font-size: x-large;
    font-family: monospace;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;

}
#prev{
    left: 25%;
}

#next{
    right: 25%;
}
#homeButton{
    position: absolute;
    top: 1%;
    color: #fff;
    background-color: #e74c3c;
    font-size: x-large;
    font-family: monospace;
    font-weight: bold;
    left: 200px;
    border-radius: 10px;
    padding: 5px;

}
#next:hover{
    background-color: #c0392b;
}
#prev:hover{
    background-color: #c0392b;
}
#homeButton:hover {
    background-color: #c0392b;
}
/* Media Queries */
@media (max-width: 768px) {
    .item {
        width: 100%;
        left: 0;
    }
    #prev{
        left: 25%;
    }
    #next {
        right: 25%;
    }
    
    #homeButton {
        left: 50%;
        transform: translateX(-50%);
    }
}